.inputWrapper {
  margin-bottom: 10px;
}

/* Input style */

/* Label */
label {
  font-weight: 600;
  font-size: 12px;
  color: #344054;
  display: block;
  margin-bottom: 4px;
}

/* Input field */
input,
textarea {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 4px;
  padding: 4px 14px;
}

textarea {
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

/* Input field focus */
input:focus,
textarea:focus {
}

.error {
  color: #db4437;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}
