.textFieldWrapper {
  font-weight: 600;
  font-size: 12px;
  color: #344054;
  margin-bottom: 4px;
}

.title {
  font-size: 13px;
  color: black;
  margin-bottom: 5px;
}

.textFieldWrapper span {
  display: inline-block;
  padding: 0.2em 0;
  background: #ffc107;
}

.link {
  font-size: 13px;
  color: blue;
  text-decoration: underline;
}
