/* flexbox container */
.dashboard {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

/* columns (mobile) */
.dashboard > * {
  width: 100%;
  padding: 1rem;
}

/* background colors */
.dashboard > .header {
  background: #f97171;
  height: 50px;
  order: -2; /* header first */
}

.dashboard > .mainContent {
  background: #fff;
  width: 50%;
  height: calc(100vh - 50px);
  overflow: scroll;
}

.dashboard > .leftSidebar {
  background: #f5d55f;

  /* left sidebar second (first in second row) */
  order: -1;
  width: 25%;
  height: calc(100vh - 50px);
  overflow: hidden;
}

.dashboard > .rightSidebar {
  background: #f4f3f3;
  width: 25%;
  height: calc(100vh - 50px);
  overflow: hidden;
}

@media (width <= 1024px) {
  .dashboard > .leftSidebar {
    display: none;
  }

  .dashboard > .mainContent {
    width: 75%;
  }
}
