.card {
  border-left: 1px solid rgb(0 0 0 / 8%);
  border-right: 1px solid rgb(0 0 0 / 8%);
  box-shadow:
    rgb(0 0 0 / 5%) 0 6px 24px 0,
    rgb(0 0 0 / 8%) 0 0 0 1px;
}

.cardMain {
  display: flex;
  flex-direction: row;
  place-items: center center;
}

.cardMain > * {
  padding: 0 4px;
}

section > ul {
  list-style-type: none;
}

.expandedDiv {
  padding: 4px;
  background-color: rgb(238 235 235);
}
